/* FULL PAGE BACKGROUND */
.quote-page {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url('/assets/mercedes2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* CENTER CONTAINER */
.quote-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.quote-card {
  width: 420px;
  background: #0b0b0b;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
  border-top: 2px solid #e50914;
}

/* LOGO */
.logo {
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.logo span {
  color: #e50914;
}

/* TEXT */
h2 {
  text-align: center;
  color: white;
}

.subtitle {
  text-align: center;
  color: #aaa;
  margin-bottom: 20px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
}

label {
  color: #ccc;
  margin-top: 10px;
  font-size: 13px;
}

input, select, textarea {
  margin-top: 6px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #1a1a1a;
  color: white;
}

textarea {
  height: 80px;
}

/* BUTTON */
button {
  margin-top: 20px;
  padding: 12px;
  background: #e50914;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff1a1a;
}

/* BACK LINK */
.back-link {
  text-align: center;
  margin-top: 15px;
}

.back-link a {
  color: #aaa;
  text-decoration: none;
}

.back-link a:hover {
  color: #e50914;
}
