PORT=5000
MONGO_URI=mongodb://DATABASE_VM_IP:27017/speedbuycars
JWT_SECRET=change_this_secret
ENCRYPTION_KEY=change_this_encryption_key

FRONTEND_URL=http://FRONTEND_VM_IP:4200
ADMIN_EMAIL=your_admin_email@gmail.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
EMAIL_FROM=SpeedBuyCars <your_email@gmail.com>
